


body {
  margin: 0;
  display: flex;
  height: 100%;
  background: linear-gradient(white, #4e4e4e, white);
  background-size: .1rem 400%;
  animation: bg 50s infinite;
  justify-content: center;
  align-items: center;

}
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 0 200%;
  }
  
  100% {
    background-position: 0 400%;
  }}


h1{
  font-size: 7rem;
  font-family:cursive;
  justify-content: center;
  align-items: center;
text-align: center;
color: red;
margin-top: 2cm;padding: 1cm;
}
h6{
  font-size: 2em;
  color: yellow;
}
.boo{
  background-color:rgb(17, 17, 17);
  height: 6cm;width: 30cm;
 align-items: center;
 justify-content: center;
 display: flex;
 margin-top: 3cm;
 border: 1px solid black;
 border-radius: .5cm;

}
p{
  color:sandybrown;
  text-align: center;
  margin-top: 3cm;
  font-size: 3.5em;
  font-family:'Times New Roman', Times, serif;
  text-decoration: dashed;
}



